<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>IRWebAPIKit.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>IRWebAPIKitX.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>25</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FF45627712D05708000239DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FF59A3551441C8B600BB1FDC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FF59A3711441C90E00BB1FDC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FF59A3991441C94500BB1FDC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FF7408231296A8D200571D46</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
